.cards {
  background: #328399;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bullets {
  display: flex;
  justify-content: space-between;
}
.card {
  background: #e6d94c;
  width: 20%;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  overflow-y: scroll;
  height: 450px;
}
.desc {
  border: 1px black solid;
  border-radius: 8px;
  padding: 4px;
}
img {
  float: left;
  margin: 2%;
}
li {
  list-style: none;
}

li:before {
  content: '🍺';
  margin-left: -20px;
  margin-right: 10px;
}
h4 {
  text-align: center;
}
