h1,
h2,
h3,
h4,
p,
li {
  color: #555;
}
.cards {
  background: #d1e1e3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bullets {
  display: flex;
  justify-content: space-between;
}

.card {
  background: #e6c163;
  width: 20%;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  overflow-y: scroll;
  height: 450px;
  border: 1px solid #555;
}
.desc {
  border: 1px black solid;
  border-radius: 8px;
  padding: 4px;
}
img {
  float: left;
  margin: 2%;
}
li {
  list-style: none;
}

li:before {
  content: '🍺';
  margin-left: -20px;
  margin-right: 10px;
}
h4 {
  text-align: center;
}

.nav {
  font-size: 30px;
  background-color: #d1e1e3;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.nav-links {
  display: flex;
  flex-basis: 80%;
  justify-content: space-around;
  margin: 40px;
}
.nav-links > li {
  margin: 0 20px 0 20px;
}
