.cards {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: #f3fce8;
  width: 20%;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  overflow-y: scroll;
  height: 450px;
}
.desc {
  border: 1px black solid;
  border-radius: 8px;
  padding: 2px;
}
img {
  float: left;
  margin: 2%;
}
li {
  list-style: none;
}

li:before {
  content: '🍺';
  margin-left: -20px;
  margin-right: 10px;
}
